__pycache__/
*.pyc
RegisterDatabase
src/python_register/RegisterDatabase
src/python_register/config.json
src/database_tools/print.py
src/database_tools/decrements_tables_convert.py
src/database_tools/convert.py
